@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
}

#recipe-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#recipe-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#recipe-list li:last-child {
    border-bottom: none;
}